.presentacion{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, red 1%, black 1%);
    height: 500px;
}

.presentacion__texto{
    flex-basis: 60%;
    margin: 2rem 1.5rem;
}

.presentacion__perfil{
    flex-basis: 40%;
    margin: 2rem 1.5rem;
    text-align: center;
}