.presentacion__lista-redes{
    display: flex;
    justify-content: space-between;
}

.github, .youtube, .linkedin{
    width: 100px;
    height: 100px;
    transition: transform 1s;
}

.instagram{
    width: 100px;
    height: 110px;
    transition: transform 1s;
}

.github:hover, .linkedin:hover, .instagram:hover, .youtube:hover{
    transform: translate(0, 10px) scale(1.2);
}