.presentacion__lista-redes{
    display: flex;
    justify-content: space-between;
}

.github, .linkedin{
    background-color: #000000;
}

.github, .youtube, .linkedin, .instagram{
    border-radius: 25px;
}

.github, .youtube, .linkedin, .instagram{
    width: 100px;
    height: 100px;
    transition: transform 1s;
}

.github:hover, .linkedin:hover, .instagram:hover, .youtube:hover{
    transform: translate(0, 10px) scale(1.2);
}