.presentacion__texto-titulo{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: black;
}

/* Portrait and Landscape ------------ Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .presentacion__texto-titulo{
        font-size: 1.5rem;
    }
}

/* Portrait and Landscape ------------ Phone*/
@media only screen and (min-device-width: 360px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .presentacion__texto-titulo{
        font-size: 2rem;
    }
}

/* Portrait and Landscape ------------ Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .presentacion__texto-titulo{
        font-size: 2rem;
    }
}