.contacto{
    font-family: "Kanit", sans-serif;
    background-image: url(/Icon/SVG/R2-D2_BB-8.svg);
    height: 650px;
    width: 100%;
    display: inline-block;
}

.contacto__texto-titulo{
    margin: 2rem 2rem 2rem 1.5rem;
}