.contacto__formulario{
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #0000004d;
    margin: 5rem 2rem 2rem 40rem;
    border-radius: 10px;
}

.contacto__nombre, .contacto__email, .contacto__asunto, .contacto__mensaje, .contacto__enviar{
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0.5rem;
    background-color: #000000;
    color: aqua;
}

.contacto__nombre, .contacto__email, .contacto__asunto{
    height: 1.2rem;
}

.contacto__mensaje{
    height: 8rem;
}

.contacto__enviar{
    width: 100px;
    max-width: 500px;
}

/* Portrait and Landscape ------------ Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .contacto__formulario{
        width: 20rem;
        height: 25rem;
        margin: 2rem 2rem 2rem 15rem;
    }
}

/* Portrait and Landscape ------------ Phone*/
@media only screen and (min-device-width: 360px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .contacto__formulario{
        width: 20rem;
        height: 28rem;
        margin: 2rem 2rem 2rem 1.5rem;
    }
}

/* Portrait and Landscape ------------ Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .contacto__formulario{
        width: 20rem;
        height: 28rem;
        margin: 2rem 2rem 2rem 1.5rem;
    }
}