.contacto__formulario{
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #0000004d;
    margin: 5rem 2rem 2rem 40rem;
    border-radius: 10px;
}

.contacto__nombre, .contacto__email, .contacto__asunto, .contacto__mensaje, .contacto__enviar{
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0.5rem;
    background-color: #000000;
    color: aqua;
}

.contacto__nombre, .contacto__email, .contacto__asunto{
    height: 1.2rem;
}

.contacto__mensaje{
    height: 8rem;
}

.contacto__enviar{
    width: 100px;
    max-width: 500px;
}